
SmartPowerTreads/obj/Debug/SmartPowerTreads.pdb
SmartPowerTreads/obj/Release/SmartPowerTreads.csproj.CoreCompileInputs.cache
*.dll
SmartPowerTreads/bin/Debug/SmartPowerTreads.pdb
SmartPowerTreads/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SmartPowerTreads/obj/Debug/SmartPowerTreads.csproj.CopyComplete
SmartPowerTreads/obj/Debug/SmartPowerTreads.csproj.CoreCompileInputs.cache
SmartPowerTreads/obj/Debug/SmartPowerTreads.csproj.FileListAbsolute.txt
SmartPowerTreads/obj/Debug/SmartPowerTreads.csprojAssemblyReference.cache
SmartPowerTreads/obj/Release/SmartPowerTreads.csproj.CopyComplete
SmartPowerTreads/obj/Release/SmartPowerTreads.csproj.FileListAbsolute.txt
SmartPowerTreads/obj/Release/SmartPowerTreads.csprojAssemblyReference.cache
